.program-head {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.program-head p {
    font-size: 2.7rem;
    font-weight: bold;
    text-transform: uppercase;
}

.clr {
    color: white;
}



.plans {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 50px;
}

.plan-card {
    width: 19rem;
    padding: 30px;
    background-color: var(--caloryCard);
    transition: 1s all;
}

.plan-card>svg {
    fill: var(--orange);
    width: 2rem;
    height: 2rem;
    margin-bottom: 20px;

}

.plan-card h2 {
    color: white;
    font-size: 1.1rem;
    margin-bottom: 20px;
    font-weight: bold;

}

.plan-card h3 {
    color: white;
    font-size: 2.4rem;
    margin-bottom: 30px;
    font-weight: bold;
}

.feature {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.feature>img {
    width: 1rem;
}

.feature p {
    color: white;
    font-size: 1rem;
}

.more {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 20px;

}

.more p {
    text-transform: capitalize;
    color: white;
    font-size: 0.9rem;

}

.more img {
    width: 1rem;

}

.plan-card .btn {
    width: 100%;
    padding: 9px;
    background-color: white;
    border: none;
    color: black;
    margin-bottom: 10px;
}

.plan-card:nth-child(2) {
    background: var(--planCard);
    transform: scale(1.1);
}

.plan-card:Hover:nth-child(2) {
    background: var(--caloryCard);
    transform: scale(1.0);

}


.plan-card:nth-child(2)>svg {
    fill: white;
}

.plan-card:nth-child(2) .btn {
    color: var(--orange);
}


.plan-b-1 {
    width: 32rem;
    height: 23rem;
    top: 116rem;
    left: 0%;
}

.plan-b-2 {
    width: 32rem;
    height: 23rem;
    top: 116rem;
    right: 0%;
}






@media (max-width:1100px) {
    .program-head {
        justify-content: center;
        gap: 1.5rem;
        padding: 0px 30px;
    }

    .program-head p {
        font-size: 2.3rem;
    }
}

@media (max-width:1000px) {
    .program-head {
        justify-content: center;
        gap: 1.5rem;
        padding: 0px 20px;
    }

    .program-head p {
        font-size: 2rem;
    }

    .plans {
        flex-wrap: wrap;
        gap: 4rem;
        margin: 50px;
    }

    .plan-card {
        width: 44%;
        padding: 30px;
        background-color: var(--caloryCard);
        transition: 1s all;
    }

    .plan-card:nth-child(2) {
        background: var(--caloryCard);
        transform: none;
    }

    .plan-card:nth-child(2)>svg {
        fill: var(--orange);
    }

    .plan-card:nth-child(2) .btn {
        color: var(--planCard);
    }


}

@media (max-width:850px) {
    .program-head {
        justify-content: center;
        flex-direction: column;
        text-align: center;
        gap: 1rem;

    }

    .program-head p {
        font-size: 2.5rem;
    }

    .plans {
        flex-wrap: wrap;
        gap: 2rem;
        margin: 20px;

    }

    .plan-card {
        width: 44%;
        padding: 30px;
        background-color: var(--caloryCard);
        transition: 1s all;
    }
}

@media (max-width:700px) {
    .plans {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 1.5rem;
        margin:30px;
    }

    .plan-card {
        width: 85%;
        padding: 20px;
        background-color: var(--caloryCard);
        transition: 1s all;
    }
    .plan-b-1 {
        width: 12rem;
        height: 8rem;
        top: 116rem;
        left: 0%;
    }
    
    .plan-b-2 {
        width: 12rem;
        height: 8rem;
        top: 116rem;
        right: 0%;
    }
    .plans {
        margin: 0px;

    }
    .App{
        gap: 2rem;
    }
    .program-head p {
        font-size: 2rem;
    }
    .program-head{
        margin-bottom: 30px;
    }
}
@media (max-width:700px){
    .program-head p {
        font-size: 1.5rem;
    }
}